@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .fadeIndex {
    opacity: 1;
  }
  .nav-item img{
      height: 30px;
  }
  #aplayer1{
      display: none;
  }
  .ieonly{
  display: flex;
  visibility: visible;
  opacity: 1;
 
    }
    header .title img{
        height: 350px;
    }
   
        .custom-object-fit {
            position: relative;
            background-size: cover;
            background-position: center center;
            img {
              opacity: 0 !important;
            }
          }
          .signgal img{
              margin: 1px;
          }
          .wave .wave-svg-shape{
              display: none;
          }
}

