* {
  outline: 0;
}
body,
html {
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", Arial, "微軟正黑體",
    "Microsoft JhengHei", sans-serif;

  &.active {
    height: 100%;
    overflow: hidden;
  }
}

$colormain: #9dd1dc;

// header 首頁大圖
header {
  .title {
    writing-mode: vertical-rl;
    right: 20%;
    max-width: 1140px;
    margin: auto;
    top: calc(10vh - 45px);
    letter-spacing: 10px;
    z-index: 1;
    pointer-events: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    img {
      max-width: 90px;
    }
    @media screen and (max-width: 768px) {
      top: 0;
      right: 50%;
      letter-spacing: 5px;
      transform: translate(50%);
      h2 {
        font-size: 1.5rem;
      }
    }
    h2 {
      font-weight: 100;
    }
  }
  a {
    color: #fff;
    &:hover {
      color: darken(#fff, 10%);
    }
  }
  nav {
    z-index: 99;
    position: relative;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    li {
      margin: 0 10px;
    }
    .nav-item {
      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }
  .nav-bar {
    a {
      text-align: center;
    }
    &.down {
      position: fixed;
      background-color: rgba(#fff, 0.9);
      z-index: 99;
      top: 0;
      width: 100%;
      animation: navbar 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
      @media screen and (min-width: 769px) {
        a {
          color: #666;
        }
      }
    }
  }
  @keyframes navbar {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  .heroImg {
    margin-top: -65px;
    height: 100vh;
    position: relative;
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(
        to bottom,
        transparent,
        transparent,
        #fff
      );
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -o-object-fit: cover;
      object-position: center top;
      -o-object-position: center top;
    }
  }

  @keyframes nav {
    0% {
      transform: translate(100%);
      opacity: 0;
    }

    100% {
      transform: translate(0px);
      opacity: 1;
    }
  }
  nav {
    width: 100%;
    @media screen and (max-width: 768px) {
      &.active {
        background: rgba(black, 0.7);
        height: 100vh;
        transition: 0.5s;
        position: absolute;
        left: 0;
        top: 0;
        ul.nav {
          display: flex;
          align-items: center;
          justify-content: center;
          height: calc(100vh - 59px);
          li {
            animation: nav 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          }
        }
      }
    }
    ul.nav {
      display: flex;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

// 每集影片導引區塊

.slideblock {
  border: 10px solid #fff;
  margin-top: -180px;
  background-color: #fff;
  box-shadow: 3px 3px 15px 0px rgba(150, 150, 150, 0.1);
  .swiper-button-prev,
  .cswiper-button-next {
    width: 50px;
    transform: translate(-30px, -10%);
  }
  .swiper-button-next {
    transform: translate(30px, -10%);
  }
  &.videoblock {
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  padding: 1.5rem 1rem 0;
  .swiper-wrapper {
    margin-top: 0;
  }
}

// 原本有色塊
.bgmain {
  position: relative;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 50%;
  //   background-color: $colormain;
  // }
  // &.event {
  //   &:before {
  //     height: 30%;
  //     top: 50%;
  //     transform: translate(0, -50%);
  //     @media screen and (max-width: 768px) {
  //       display: none;
  //     }
  //   }
  // }
}

// 區塊標題
.section-title {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px;
  @media screen and (min-width: 768px) {
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #000;
      bottom: -15px;
      left: 50%;
    }
  }
}

// 劇照

.photography {
  padding: 30px 0;
  margin: 60px 0;
  // li {
  //   margin-bottom: 10px;
  // }

  @media screen and (max-width: 768px) {
    padding: 0;
    ul {
      font-size: 0;
      overflow: auto;
      max-width: 349px;
      margin: auto;
    }
    li {
      float: left;

      &:nth-child(6n + 3),
      &:nth-child(2n) {
        width: calc(100% / 3 - 4px);
        padding-top: calc(100% / 3 - 6px);
      }
      &:nth-child(6n + 1),
      &:nth-child(6n-1) {
        width: calc(100% / 3 * 2 - 4px);
        padding-top: calc(100% / 3 * 2 - 8.1px);
      }
      &:nth-child(6n) {
        margin-top: calc(-100% / 3 + 3px);
      }

      height: 0;
      padding-top: calc(100% / 3 * 2 - 8.1px);
      position: relative;
      margin: 2px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 769px) {
    li {
      width: calc(100% / 3 - 10px);
      margin: 0 10px 10px 0;
      &:nth-child(3n + 2) {
        transform: translateY(3rem);
      }
      height: 450px;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }
  }
}
.event {
  margin: 60px 0;
  padding: 60px 0;
}
// winebook

.winebook {
  @media screen and (min-width: 769px) {
    li {
      &:nth-child(2n) {
        transform: translateY(30px);
      }
    }
    img {
      // height: 350px;
      object-fit: cover;
    }
  }
}
.modal {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal-footer a {
  display: inline-block;
  vertical-align: top;
  img {
    width: 30px;
  }
}

footer {
  margin-bottom: 10vh;
  img {
    max-width: 50px;
  }
}
.fadeIndex {
  opacity: 0;
}
.fadeIn {
  animation: fadeIn 1s 0.5s linear backwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}
// winebook頁面
.winebookpage {
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    height: 100%;
  }
  .bubble {
    background-color: rgba(#fff, 0.4);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: 1s;
  }
  @keyframes bubble {
    0% {
      transform: translate(0, 0);
      opacity: 0.6;
    }
    50% {
      transform: translate(-100%, -20vh);
      opacity: 0.3;
    }
    100% {
      transform: translate(100%, -40vh);
      opacity: 0;
    }
  }
  @for $i from 1 through 10 {
    .bubble#{$i} {
      @include size(random(40) + 20px);
      bottom: random(10) + 5%;
      right: random(50) + 5%;
      animation: bubble random(5) + 5s random(10) + 3s infinite linear forwards;
    }
  }
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  // height: calc(100vh - 60px);
  height: 100%;
  // border: 1px solid #f00;
  z-index: -1;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, transparent, #fff);
    z-index: 1;
    @media screen and (max-width: 768px) {
      height: 10%;
    }
  }
  .wave-svg-shape {
    position: absolute;
    width: 100%;
    bottom: -30%;
    animation: fill 3s linear forwards;
    svg {
      display: block;
      width: 150%;
      transform: translate(-30%);
      animation: wave 5s linear infinite;
      @media screen and (max-width: 768px) {
        width: 300%;
      }
    }
  }
}

@keyframes fill {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: -10%;
  }
}
@media screen and (max-width: 768px) {
  @keyframes fill {
    0% {
      bottom: -100%;
    }
    100% {
      bottom: 0;
    }
  }
}

@keyframes wave {
  0% {
    transform: translate(-33%);
  }
  100% {
    transform: translateX(0%);
  }
}

// 警告頁
.warning {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../img/pics/RB4_2914.jpg");
  // background-image:url('../img/pics/RB4_2914.jpg');
  background-size: cover;
  .container {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}

// player
#aplayer1 {
  position: relative;
  .player-btngroup {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
.playlistbtn {
  justify-content: space-around;
  & > a {
    // padding: 1rem;
    margin: 0 5px 40px;
    background-color: #67a6e0;
    width: calc(100% / 5);
    color: #fff;
    cursor: pointer;
    &:hover {
      background-color: #426dbb;
    }
  }
}

// 選擇酒譜
.wineSelect {
  margin-top: 60px;
  .wine {
    margin-bottom: 30px;
    & a > * {
      display: inline-block;
      vertical-align: top;
    }
    a {
      text-decoration: none;
      position: relative;
      display: block;
    }
    img {
      width: 55%;
    }
    p {
      position: absolute;
      color: #fff;
      padding: 1rem 1.5rem;
      background-color: #000;
      left: 55%;
      margin-top: 60px;
      transform: translateX(-50%);
    }
    &:nth-child(2n) {
      direction: rtl;
      text-align: right;
      p {
        left: auto;
        right: 55%;
        transform: translateX(50%);
      }
    }
    @media screen and(max-width:768px) {
      img {
        width: 80%;
      }
      p {
        left: auto;
        right: 0;
        transform: translate(0);
      }
      &:nth-child(2n) {
        p {
          left: 0;
          right: auto;
          transform: translateX(0);
        }
      }
    }
  }
}
// 影片頁
.videos {
  img {
    cursor: pointer;
  }
}
// 標語
.signgal {
  background-color: #000;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 10vh;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    width: 650px;
    margin: 0 auto;
  }
}

// event Page
.gotoEvent {
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.photoWall {
  .section-title {
    a {
      color: #000;
      text-decoration: none;
      &.active {
        border-bottom: 2px solid #f00;
      }
    }
  }
  .list {
    p {
      margin-top: 2rem;
      padding: 0.5rem 1.2rem;
      display: inline-block;
      background-color: #000;
      color: #fff;
    }
    @media screen and (min-width: 769px) {
      &:nth-child(2n) {
        & > div {
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(2) {
            text-align: right;
          }
        }
      }
    }
  }
}


// step

.img-wire{
  bottom:0;
  left: 0;
  z-index: 1;
  img{
    display: block;
    width: 100%;
  }
}
.img-wrap{
  &:hover{
    .arrow{
      opacity: .6;
      &:hover{
   opacity: 1;
  }
    }
  }
}
.arrow{
  color:#fff;
  opacity: .1;
  top: 50%;
  font-size: 40px;
  z-index: 3;
  cursor: pointer;
  transform: translate(0,-50%);
  
  &.prev{
    left: 20px;
  }
  &.next{
    right: 20px;
  }
}
.deskWidth{
  width: 100%;
  position: absolute;
  z-index: -1;
  top:0;
  visibility: hidden;
}
.client-img{
  width: 100%;
  // max-height: 500px;
  overflow: hidden;
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  canvas{
    width: 100%;
    height: 100%;
    background-size: cover;
  }
}
