*{
  outline: 0;
}
body,
html {
  font-family: "Helvetica Neue", Helvetica, "PingFang TC", Arial, "微軟正黑體",
    "Microsoft JhengHei", sans-serif;
  
  &.active {
    height: 100%;
    overflow: hidden;
  }
}

$colormain: #9dd1dc;


// header 首頁大圖
header {
  .title {
    writing-mode: vertical-rl;
    right: 0;
    left: 0;
    max-width: 1140px;
    margin: auto;
    top: 30%;
    letter-spacing: 10px;
    z-index: 1;
    pointer-events: none;
    text-shadow: 1px 1px 3px rgba(0,0,0,.4);
    @media screen and (max-width:768px){
      top: 20%;
      right: 50%;
      letter-spacing: 5px;
      transform: translate(50%);
      h2{
        font-size: 1.5rem;
      }
    }
    h2 {
      font-weight: 100;
    }
  }
  nav{
    z-index: 99;
    position: relative;
    text-shadow: 1px 1px 5px rgba(0,0,0,.3);
  }
 
  
  .heroImg {
    margin-top: -59px;
    height: 100vh;
    position: relative;
    // &:after{
    //   content:"";
    //   display: block;
    //   position: absolute;
    //   top: 0;
    //   width: 100%;
    //   height: 100%;
    //   background-image: linear-gradient(to bottom,transparent , transparent,#fff);
    // }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @keyframes nav{
    0%{ 
      transform: translate(100%);
      opacity:0}
   
    100%{transform: translate(0px);
    opacity:1}
  }
  nav {
    width: 100%;
    @media screen and (max-width: 768px) {
      &.active {
        background: rgba(black, 0.7);
        height: 100vh; 
        transition: .5s;
        position: absolute;
        left: 0;
    top: 59px;
        ul.nav {
          display: flex;
          align-items: center;
          justify-content: center;
          height: calc(100vh - 59px);
          li{
            animation: nav 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          }
        }
      }
    }
    ul.nav {
      display: flex;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}

// 每集影片導引區塊

.slideblock {
    border: 10px solid #fff;
    margin-top: -180px;
    background-color: #fff;
    box-shadow: 3px 3px 15px 0px rgba(150,150,150,.1);
    .swiper-button-prev,
    .cswiper-button-next {
      width: 50px;
      transform: translate(-30px, -10%);
    }
    .swiper-button-next {
      transform: translate(30px, -10%);
    }
  }
  @media screen and (max-width: 768px) {
    padding: 1.5rem 1rem 0;
    .swiper-wrapper {
      margin-top: 0;
    }
  }

// 原本有色塊
.bgmain {
  position: relative;
  // &:before {
  //   content: "";
  //   position: absolute;
  //   display: block;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 50%;
  //   background-color: $colormain;
  // }
  // &.event {
  //   &:before {
  //     height: 30%;
  //     top: 50%;
  //     transform: translate(0, -50%);
  //     @media screen and (max-width: 768px) {
  //       display: none;
  //     }
  //   }
  // }
}

// 區塊標題
.section-title {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px;
  @media screen and (min-width: 768px) {
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #000;
      bottom: -15px;
      left: 50%;
    }
  }
}


// 劇照

.photography {
  padding: 30px 0;
  margin: 60px 0;
  // li {
  //   margin-bottom: 10px;
  // }

  @media screen and (max-width: 768px) {
    padding: 0;
    ul {
      font-size: 0;
      overflow: auto;
      max-width: 349px;
      margin: auto;
    }
    li {
      float: left;
      &:nth-child(6n+1),
      &:nth-child(5){
        width: calc(100% / 3 * 2 - 4px);
      }
      &:nth-child(6n+3),
      &:nth-child(2n) {
        width: calc(100% / 3 - 4px);
        padding-top: calc(100% / 3 - 6px);
      }
      &:nth-child(6n) {
        margin-top: calc(-100% / 3 + 3px);
      }

      height: 0;
      padding-top: calc(100% / 3 * 2 - 8.1px);
      position: relative;
      margin: 2px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media screen and (min-width: 769px) {
    
    li {
      width: calc(100% / 3 - 10px);
      margin: 0 10px 10px 0;
      &:nth-child(3n+2){
        transform: translateY(3rem);
      }
      height: 450px;
    }
    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
.event{
  margin: 60px 0;
  padding:60px 0;
}
// winebook

.winebook {
  @media screen and (min-width: 769px) {
    li {
      &:nth-child(2n) {
        transform: translateY(30px);
      }
    }
    img {
      // height: 350px;
      object-fit: cover;
    }
  }
}
.modal{
  background-color: rgba(0,0,0,.8);
}
.modal-footer a{
  display: inline-block;
  vertical-align: top;
img{
  width: 30px;
}
}
 

footer {
  img {
    max-width: 50px;
  }
}




.fadeIn{
  opacity: 0;
}

// winebook
.winebookpage{
  position: relative;
  height: calc(100vh - 60px);
  display: flex;
  
}

.wave{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  // height: calc(100vh - 60px);
  height: 100%;
  // border: 1px solid #f00;
  z-index: -1;
  &:before{
    content: '';
    display:block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to bottom,transparent,#fff);
    z-index: 1;
     @media screen and (max-width:768px){
       height: 20%;
      }
  }
  .wave-svg-shape{
    position: absolute;
    width: 100%;
    bottom: -30%;
    animation:fill 3s  linear forwards;
    svg{
      display: block;
      width: 150%;
      transform: translate(-30%);
      animation: wave 5s  linear infinite;
      @media screen and (max-width:768px){
        width: 300%;
      }
    }
  }
}


@keyframes fill{
  0%{
    bottom: -100%;
  }
  100%{
    bottom: 0;
  }
}
@media screen and (max-width:768px){
  @keyframes fill{
  0%{
    bottom: -100%;
  }
  100%{
    bottom: 0;
  }
}
}
@keyframes wave{
  0%{
    transform: translate(-33%);
  }
  100%{
    transform: translateX(0%);
  }
}

// 警告頁
.warning{
  height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('../img/pics/RB4_2914.jpg');
  // background-image:url('../img/pics/RB4_2914.jpg');
  background-size: cover;
  .container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
}