@charset "UTF-8";
* {
  outline: 0; }

body,
html {
  font-family: "source-han-serif-tc","Helvetica Neue", Helvetica, "PingFang TC", Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  font-weight: 600; }
  body.active,
  html.active {
    height: 100%;
    overflow: hidden; }

.filterTitle {
  -webkit-filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(10 0 3px rgba(0, 0, 0, 0.7)); }

header .title {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  right: 20%;
  max-width: 1140px;
  margin: auto;
  top: calc(10vh - 45px);
  letter-spacing: 10px;
  z-index: 1;
  pointer-events: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4); }
  header .title img {
    width: 90px; }
  @media screen and (max-width: 768px) {
    header .title {
      top: 0;
      right: 50%;
      letter-spacing: 5px;
      -webkit-transform: translate(50%);
      -ms-transform: translate(50%);
      transform: translate(50%); }
      header .title h2 {
        font-size: 1.5rem; } }
  header .title h2 {
    font-weight: 100; }

header a {
  color: #fff; }
  header a:hover {
    color: #e6e6e6; }

header nav {
  z-index: 99;
  position: relative;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }
  header nav li {
    margin: 0 10px; }
  @media screen and (max-width: 768px) {
    header nav .nav-item {
      width: 100%; } }

header .nav-bar a {
  text-align: center; }

header .nav-bar.down {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 99;
  top: 0;
  width: 100%;
  -webkit-animation: navbar 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: navbar 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }
  @media screen and (min-width: 769px) {
    header .nav-bar.down a {
      color: #666; } }

@-webkit-keyframes navbar {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

@keyframes navbar {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }

header .heroImg {
  margin-top: -65px;
  height: 100vh;
  position: relative; }
  header .heroImg:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(transparent), to(#fff));
    background-image: -webkit-linear-gradient(top, transparent, transparent, #fff);
    background-image: -o-linear-gradient(top, transparent, transparent, #fff);
    background-image: linear-gradient(to bottom, transparent, transparent, #fff); }
  header .heroImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center top;
    -o-object-position: center top; }

@-webkit-keyframes nav {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 1; } }

@keyframes nav {
  0% {
    -webkit-transform: translate(100%);
    transform: translate(100%);
    opacity: 0; }
  100% {
    -webkit-transform: translate(0px);
    transform: translate(0px);
    opacity: 1; } }

header nav {
  width: 100%; }
  @media screen and (max-width: 768px) {
    header nav.active {
      background: rgba(0, 0, 0, 0.7);
      height: 100vh;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      position: absolute;
      left: 0;
      top: 0; }
      header nav.active ul.nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: calc(100vh - 59px); }
        header nav.active ul.nav li {
          -webkit-animation: nav 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
          animation: nav 1s cubic-bezier(0.68, -0.55, 0.27, 1.55); } }
  header nav ul.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      header nav ul.nav {
        display: none; } }

.slideblock {
  border: 10px solid #fff;
  margin-top: -180px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 15px 0px rgba(150, 150, 150, 0.1);
  box-shadow: 3px 3px 15px 0px rgba(150, 150, 150, 0.1); }
  .slideblock .swiper-button-prev,
  .slideblock .cswiper-button-next {
    width: 50px;
    -webkit-transform: translate(-30px, -10%);
    -ms-transform: translate(-30px, -10%);
    transform: translate(-30px, -10%); }
  .slideblock .swiper-button-next {
    -webkit-transform: translate(30px, -10%);
    -ms-transform: translate(30px, -10%);
    transform: translate(30px, -10%); }
  @media screen and (max-width: 768px) {
    .slideblock.videoblock {
      margin-top: 0; } }

@media screen and (max-width: 768px) {
  padding: 1.5rem 1rem 0;
  .swiper-wrapper {
    margin-top: 0; } }

.bgmain {
  position: relative; }

.section-title {
  padding: 1rem 0;
  margin-bottom: 1.5rem;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 300px; }
  @media screen and (min-width: 768px) {
    .section-title:after {
      content: "";
      display: block;
      position: absolute;
      width: 1px;
      height: 30px;
      background-color: #000;
      bottom: -15px;
      left: 50%; } }

.photography {
  padding: 30px 0;
  margin: 60px 0; }
  @media screen and (max-width: 768px) {
    .photography {
      padding: 0; }
      .photography ul {
        font-size: 0;
        overflow: auto;
        max-width: 349px;
        margin: auto; }
      .photography li {
        float: left;
        height: 0;
        padding-top: calc(100% / 3 * 2 - 8.1px);
        position: relative;
        margin: 2px; }
        .photography li:nth-child(6n + 3), .photography li:nth-child(2n) {
          width: calc(100% / 3 - 4px);
          padding-top: calc(100% / 3 - 6px); }
        .photography li:nth-child(6n + 1), .photography li:nth-child(6n-1) {
          width: calc(100% / 3 * 2 - 4px);
          padding-top: calc(100% / 3 * 2 - 8.1px); }
        .photography li:nth-child(6n) {
          margin-top: calc(-100% / 3 + 3px); }
        .photography li img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover; } }
  @media screen and (min-width: 769px) {
    .photography li {
      width: calc(100% / 3 - 10px);
      margin: 0 10px 10px 0;
      height: 450px; }
      .photography li:nth-child(3n + 2) {
        -webkit-transform: translateY(3rem);
        -ms-transform: translateY(3rem);
        transform: translateY(3rem); }
    .photography img {
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: center;
      object-position: center;
      width: 100%; } }

.event {
  margin: 60px 0;
  padding: 60px 0; }

@media screen and (min-width: 769px) {
  .winebook li:nth-child(2n) {
    -webkit-transform: translateY(30px);
    -ms-transform: translateY(30px);
    transform: translateY(30px); }
  .winebook img {
    -o-object-fit: cover;
    object-fit: cover; } }

.modal {
  background-color: rgba(0, 0, 0, 0.8); }

.modal-footer a {
  display: inline-block;
  vertical-align: top; }
  .modal-footer a img {
    width: 30px; }

footer {
  margin-bottom: 10vh; }
  footer img {
    max-width: 50px; }

.fadeIndex {
  opacity: 0; }

.fadeIn {
  -webkit-animation: fadeIn 1s 0.5s linear backwards;
  animation: fadeIn 1s 0.5s linear backwards; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.winebookpage {
  position: relative;
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -60px;
  overflow: hidden;
  background: url("../img/wine_bg02.png");
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .winebookpage {
      height: 100%; } }
  .winebookpage .bubble {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; }

@-webkit-keyframes bubble {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.6; }
  50% {
    -webkit-transform: translate(-100%, -20vh);
    transform: translate(-100%, -20vh);
    opacity: 0.3; }
  100% {
    -webkit-transform: translate(100%, -40vh);
    transform: translate(100%, -40vh);
    opacity: 0; } }

@keyframes bubble {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 0.6; }
  50% {
    -webkit-transform: translate(-100%, -20vh);
    transform: translate(-100%, -20vh);
    opacity: 0.3; }
  100% {
    -webkit-transform: translate(100%, -40vh);
    transform: translate(100%, -40vh);
    opacity: 0; } }
  .winebookpage .bubble1 {
<<<<<<< HEAD
    width: 44px;
    height: 44px;
    bottom: 6%;
    right: 20%;
    -webkit-animation: bubble 6s 6s infinite linear forwards;
    animation: bubble 6s 6s infinite linear forwards; }
  .winebookpage .bubble2 {
    width: 41px;
    height: 41px;
    bottom: 12%;
    right: 6%;
    -webkit-animation: bubble 7s 11s infinite linear forwards;
    animation: bubble 7s 11s infinite linear forwards; }
  .winebookpage .bubble3 {
    width: 24px;
    height: 24px;
    bottom: 11%;
    right: 20%;
    -webkit-animation: bubble 7s 5s infinite linear forwards;
    animation: bubble 7s 5s infinite linear forwards; }
  .winebookpage .bubble4 {
    width: 36px;
    height: 36px;
    bottom: 9%;
    right: 28%;
    -webkit-animation: bubble 7s 8s infinite linear forwards;
    animation: bubble 7s 8s infinite linear forwards; }
  .winebookpage .bubble5 {
    width: 58px;
    height: 58px;
    bottom: 15%;
    right: 12%;
    -webkit-animation: bubble 6s 4s infinite linear forwards;
    animation: bubble 6s 4s infinite linear forwards; }
  .winebookpage .bubble6 {
    width: 47px;
    height: 47px;
    bottom: 11%;
    right: 38%;
    -webkit-animation: bubble 7s 6s infinite linear forwards;
    animation: bubble 7s 6s infinite linear forwards; }
  .winebookpage .bubble7 {
    width: 60px;
    height: 60px;
    bottom: 10%;
    right: 18%;
    -webkit-animation: bubble 6s 4s infinite linear forwards;
    animation: bubble 6s 4s infinite linear forwards; }
  .winebookpage .bubble8 {
    width: 51px;
    height: 51px;
    bottom: 13%;
    right: 49%;
    -webkit-animation: bubble 8s 12s infinite linear forwards;
    animation: bubble 8s 12s infinite linear forwards; }
  .winebookpage .bubble9 {
    width: 25px;
    height: 25px;
    bottom: 7%;
    right: 46%;
    -webkit-animation: bubble 10s 5s infinite linear forwards;
    animation: bubble 10s 5s infinite linear forwards; }
  .winebookpage .bubble10 {
    width: 34px;
    height: 34px;
    bottom: 15%;
    right: 46%;
    -webkit-animation: bubble 8s 13s infinite linear forwards;
    animation: bubble 8s 13s infinite linear forwards; }


.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 100%;
  z-index: 0;
  pointer-events: none; }
  .wave:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#fff));
    background-image: -webkit-linear-gradient(top, transparent, #fff);
    background-image: -o-linear-gradient(top, transparent, #fff);
    background-image: linear-gradient(to bottom, transparent, #fff);
    z-index: 1; }
    @media screen and (max-width: 768px) {
      .wave:before {
        height: 10%; } }
  .wave .wave-svg-shape {
    position: absolute;
    width: 100%;
    top: 0%;
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
    -webkit-animation: fill 3s 1s linear forwards;
    animation: fill 3s 1s linear forwards; }
    .wave .wave-svg-shape svg {
      display: block;
      width: 150%;
      -webkit-transform: translate(-30%);
      -ms-transform: translate(-30%);
      transform: translate(-30%);
      -webkit-animation: wave 5s linear infinite;
      animation: wave 5s linear infinite; }
      @media screen and (max-width: 768px) {
        .wave .wave-svg-shape svg {
          width: 300%; } }

@-webkit-keyframes fill {
  0% {
    top: 0; }
  100% {
    top: -200vh; } }

@keyframes fill {
  0% {
    top: 0; }
  100% {
    top: -200vh; } }

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(-33%);
    transform: translate(-33%); }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

@keyframes wave {
  0% {
    -webkit-transform: translate(-33%);
    transform: translate(-33%); }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

.warning {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../img/pics/RB4_2914.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/pics/RB4_2914.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/pics/RB4_2914.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/pics/RB4_2914.jpg");
  background-size: cover; }
  .warning .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }

#aplayer1 {
  position: relative; }
  #aplayer1 .player-btngroup {
    position: absolute;
    bottom: 10px;
    right: 10px; }

.playlistbtn {
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .playlistbtn > a {
    margin: 0 5px 40px;
    background-color: #67a6e0;
    width: calc(100% / 5);
    color: #fff;
    cursor: pointer; }
    .playlistbtn > a:hover {
      background-color: #426dbb; }

.wineSelect {
  margin-top: 60px; }
  .wineSelect .wine {
    margin-bottom: 30px; }
    .wineSelect .wine a > * {
      display: inline-block;
      vertical-align: top; }
    .wineSelect .wine a {
      text-decoration: none;
      position: relative;
      display: block; }
    .wineSelect .wine img {
      width: 55%; }
    .wineSelect .wine p {
      position: absolute;
      color: #fff;
      padding: 1rem 1.5rem;
      background-color: #000;
      left: 55%;
      margin-top: 60px;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .wineSelect .wine:nth-child(2n) {
      direction: rtl;
      text-align: right; }
      .wineSelect .wine:nth-child(2n) p {
        left: auto;
        right: 55%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
    @media screen and (max-width: 768px) {
      .wineSelect .wine img {
        width: 80%; }
      .wineSelect .wine p {
        left: auto;
        right: 0;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0); }
      .wineSelect .wine:nth-child(2n) p {
        left: 0;
        right: auto;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }

.videos img {
  cursor: pointer; }

.signgal {
  background-color: #000;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 10vh;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 1rem; }
  @media screen and (min-width: 768px) {
    .signgal {
      padding: 0; } }
  .signgal img {
    display: block;
    width: 650px;
    height: 6vh;
    margin: 0 auto; }

.gotoEvent {
  z-index: 1;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); }

.photoWall .section-title a {
  color: #000;
  text-decoration: none; }
  .photoWall .section-title a.active {
    border-bottom: 2px solid #f00; }

.photoWall .list p {
  margin-top: 2rem;
  padding: 0.5rem 1.2rem;
  display: inline-block;
  background-color: #000;
  color: #fff; }

@media screen and (min-width: 769px) {
  .photoWall .list:nth-child(2n) > div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .photoWall .list:nth-child(2n) > div:nth-child(2) {
    text-align: right; } }

.img-wire {
  bottom: 0;
  left: 0;
  z-index: 1; }
  .img-wire img {
    display: block;
    width: 100%; }

.img-wrap:hover .arrow {
  opacity: .6; }
  .img-wrap:hover .arrow:hover {
    opacity: 1; }

.arrow {
  color: #fff;
  opacity: .1;
  top: 50%;
  font-size: 40px;
  z-index: 3;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }
  .arrow.prev {
    left: 20px; }
  .arrow.next {
    right: 20px; }

.deskWidth {
  width: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  visibility: hidden; }

.client-img {
  width: 100%;
  overflow: hidden; }
  .client-img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%; }
  .client-img canvas {
    width: 100%;
    height: 100%;
    background-size: cover; }
